.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.35fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 { 
  /* left side */
  grid-area: 2 / 1 / 4 / 2; 
  background-color: rgb(34,34,34);
  text-align: center;
}
.div2 {
  /* right side */
   grid-area: 2 / 2 / 4 / 3;
   background-color: rgb(34,34,34);
   text-align: center;
  }

.div3 { 
  grid-area: 1 / 1 / 2 / 3;
  background-color: rgba(34, 34, 34, 1);
  text-align: center;
}

.navigation_bar {
  margin: 0px 50px; /*Pushes the outer items inward.*/
  display: flex; /*Makes the navigation bar items horizontal.*/
  justify-content: space-between; /*Spaces them out.*/
  align-items: center; /*Aligns each item vertically toward the center of the div.*/
  font-weight: bold;
}

.navigation_list {
  margin-right: -25px; /*Adjusts the navigation items (excluding login and signup) toward the center more.*/
}

.navigation_list_item {
  list-style: none; /*Removes the dots in the front of each list item.*/
  display: inline-block; /*Sets the list items horizontal.*/
  padding: 0px 15px; /*Adds some distance between each navigation item.*/
  vertical-align: middle;
  line-height: 10px; /*Centers logos a little (not completely, still not fixed).*/
  }

.navigation_list a {
  text-decoration: none; /*Removes the underline.*/
  color: rgba(209, 209, 209, 1);
}

.navigation_list a:hover {
  color: rgba(255, 255, 255, 1); /*Changes color when hovering over link.*/
}

#home, #current_projects, #about_us, #contact_us, #join_our_discord {
  scroll-behavior: smooth; /*This is where SCROLLING will be added when link is clicked.*/
}

.App-logo {
  height: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
